/inputs
day1.py
day3/AOC2023.code-workspace
day5/main.exe
day12/Test.prof
day12/Test
day12/Test1
day12/Test2
day12/Test3
day12/Test4
day13/main.exe
day14/main.exe
day12/main.exe
dayE/main.go
day19/main.py
